<% content_for :content do %>
  <div class="layout-content">
    <div class="layout-content-body">
      <% unless notice.nil? %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <div class="title-bar">
        <h1 class="title-bar-title">
          <span class="d-ib">Страны</span>
        </h1>
      </div>
      <%= link_to 'Добавить страну', new_country_path, :class => "btn btn-primary btn-lg btn-warning" %>
      <div class="row">
        <div class="col-xs-12">
          <div class="panel">
            <div class="panel-body">
              <div class="table-responsive">
                <table id="demo-dynamic-tables-1" class="table table-middle nowrap">
                  <thead>
                  <tr>
                    <th>
                      #
                    </th>
                    <th>Название страны</th>
                    <th>Количество турбаз</th>
                    <th>Дата создания</th>
                    <th>Дата изменения</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @countries.each_with_index do |country, index| %>
                    <td>
                      <%= index+1 %>
                    </td>
                    <td>
                      <strong><%= country.name %></strong>
                    </td>
                    <td>
                      <strong><%= country.camps.size %></strong>
                    </td>
                    <td class="maw-320">
                      <%= country.created_at %>
                    </td>
                    <td>
                      <%= country.updated_at %>
                    </td>
                    <td>
                      <div class="btn-group pull-right dropdown">
                        <button class="btn btn-link link-muted" aria-haspopup="true"
                                data-toggle="dropdown" type="button">
                          <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                          <li>
                            <%= link_to 'Изменить', edit_country_path(country) %>
                          </li>
                          <li>
                            <%= link_to 'Удалить', country, method: :delete, data: {confirm: 'Are you sure?'}, class: "delete_btn" %>
                          </li>
                        </ul>
                      </div>
                    </td>
                    </tr>
                  <% end -%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
<%= render template: "layouts/application" %>