<% content_for :content do %>
  <div class="layout-content">
    <div class="layout-content-body">

    <div class="title-bar">
    <h1 class="title-bar-title">
            <span class="d-ib">
                    Изменить город
            </span>
    </h1>
  </div>
  <%= form_with(model: @city, :html => {:class => 'form form-horizontal'}, local: true) do |city| %>
    <div class="row">
      <div class="col-md-8">
        <div class="demo-form-wrapper">

          <div class="form-group">
            <label class="col-sm-3 control-label" for="form-control-1">Название</label>
            <div class="col-sm-9">
              <%= city.text_field :name, :class => 'form-control' %>
            </div>

            <label class="col-sm-3 control-label" for="form-control-1">Регион</label>
            <div class="col-xs-4 col-sm-3">
              <%= city.collection_select(:region_id, Region.all, :id, :name, {:multiple => true }, :class=>'custom-select' ) %>
            </div>

            <label class="col-sm-3 control-label" for="form-control-1"></label>
            <div class="col-sm-9" align="right">
              <label class="btn btn-success file-upload-btn"> Изменить
                <%= city.submit :class => 'file-upload-input' %>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
    </div>
  </div>

  <%= render 'form', city: @city %>
<% end %>