<% content_for :content do %>
  <div class="title-bar">
    <h1 class="title-bar-title">
            <span class="d-ib">
                    Добавить регион
            </span>
    </h1>
  </div>
  <%= form_for @region, :html => {:class => 'form form-horizontal'} do |region| %>
    <div class="row">
      <div class="col-md-8">
        <div class="demo-form-wrapper">

          <div class="form-group">
            <label class="col-sm-3 control-label" for="form-control-1">Название</label>
            <div class="col-sm-9">
              <%= region.text_field :name, :class => 'form-control' %>
            </div>

            <label class="col-sm-3 control-label" for="form-control-1">Страна</label>
            <div class="col-xs-4 col-sm-3 ">
              <%=collection_select(:region, :country_id, Country.all, :id, :name, include_blank: 'Пожалуйста, укажите страну', class: 'custom-select')%>
            </div>

            <label class="col-sm-3 control-label" for="form-control-1"></label>
            <div class="col-sm-9" align="right">
              <label class="btn btn-success file-upload-btn"> Добавить
                <%= region.submit :class => 'file-upload-input' %>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= render 'form', region: @region %>
<% end %>